p {
  font-family: Arial, Sans-Serif;
  font-size: 12
  color: #000000;
}

#math {
  font-style: italic
}

#science {
  font-weight: bolder;
}

.history {
  color: red
}

.french {
  font-family: cursive;
}