body {
  background-image: url("../images/silk.jpg");
  font-family: Bitter, Serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: bolder;
  text-align: center;
}
#content {
  align-content: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

 .button {
  float: right;
  background: whitesmoke;
  border-radius: 2px;
  font-family: Bitter;
  margin: 5px;
}

#sidebar {
  text-align: center;
}

#sidebar ul {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}
