body {
  background-color: #B5B4C4;
}

h1  {
  font-weight: bolder;
  font-family: Bitter, Serif;
  text-align: center;
  border: 5px solid black;
}
p {
  font-family: Bitter, Serif;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

img {
  zoom: 10%;
}

#first {
  position: relative;
  text-align: right;
bottom: 350px;
margin-right:350px;
}
#second {
  position: relative;
  text-align: right;
bottom: 369px;
margin-right:275px;
}
#third {
  position: relative;
  text-align: right;
bottom: 388px;
margin-right:2px;
}
#fourth {
  position: relative;
  text-align: right;
bottom: 406px;
margin-right:125px;
margin-left: 10px;
}
