body {
  background-color: whitesmoke;
  color: #0B153C;
}

p {
  font-family: Arial, Sans-Serif;
  font-size: 12;
}

header {
  border: solid black;
}

h1 {
  font-family: Bitter, Sans-Serif;
  text-align:center;
  font-size: 3em;
}

h2 {
  font-family: Droid Serif, Sans-Serif;
  text-align: center;
  font-size: 1.5em;
}

#div1 {
  position: absolute;
  display:inline;
  margin-left:25em
}

#div2 {
  display: inline;
  position: absolute;
  margin-left: 40em
}

#div3 {
  margin-left:15em;
}

ul {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 500px;
  text-align: center;
}

