body {
  background-color: #B5B4C4;
  font-family: Bitter, Serif;
}

.container {
  align-content: center;
}

h1 {
  font-weight: bolder;
  text-align: center;
}
.content {
  align-content: center;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  clear: right;
}

 .button {
  float: right;
}
